.imago-image(
  ng-class="[{'loaded': imagoimage.loaded}, {'prevent-drag': imagoimage.opts.preventDrag}, imagoimage.opts.align, imagoimage.opts.sizemode, imagoimage.mainSide]"
  )

  .spacer(ng-style="::imagoimage.spacerStyle")

  img(
    class="small"
    ng-if="::imagoimage.opts.placeholder && !imagoimage.loaded"
    ng-src="{{::imagoimage.placeholderUrl}}")

  img(
    class="large"
    ng-src="{{::imagoimage.imgUrl}}"
    ng-show="::imagoimage.imgUrl"
    visible="imagoimage.visible"
    in-view="imagoimage.visible = $inview"
    in-view-remove="imagoimage.removeInView")


  //- pre sizemode: {{imagoimage.opts.sizemode}}  align: {{imagoimage.opts.align}}
  //-   br
  //-   | class {{imagoimage.loaded}}
  //-   br
  //-   | mainSide {{imagoimage.mainSide}} height {{imagoimage.height}}