.imago-video-content(
    ng-class="[imagovideo.opts.align, imagovideo.opts.sizemode, imagovideo.mainSide, imagovideo.state]"
    in-view="imagovideo.visible = $inview"
    in-view-options="{debounce: 50}")
  //- pre {{imagovideo.opts.align}} {{imagovideo.opts.sizemode}} {{imagovideo.mainSide}}
  .imago-video-wrapper
    .spacer(ng-style="imagovideo.spacerStyle")
    videogular(
        vg-auto-play="::imagovideo.opts.autoplay"
        vg-theme="::imagovideo.opts.theme"
        ng-if="imagovideo.ready"
        vg-update-state="imagovideo.state = $state"
        vg-player-ready="imagovideo.onPlayerReady($API)")
      vg-media(
        vg-src="::imagovideo.sources"
        vg-loop="::imagovideo.opts.loop"
        vg-preload="::imagovideo.opts.preload")
      vg-controls(
          ng-if="::imagovideo.opts.controls")
        vg-play-pause-button
        vg-time-display {{ currentTime | date:'mm:ss' }}
        vg-scrub-bar
          vg-scrub-bar-current-time
        vg-time-display {{ timeLeft | date:'mm:ss' }}
        vg-volume
          vg-mute-button
          vg-volume-bar
        vg-fullscreen-button
      vg-overlay-play
      vg-poster(vg-url="::imagovideo.poster")

