.imago-video-content(
    ng-class="[imagovideo.opts.align, imagovideo.opts.sizemode, imagovideo.mainSide, imagovideo.state]"
    in-view="imagovideo.visible = $inview"
    in-view-options="{debounce: 1000}")

  //- pre {{imagovideo.sources|json}} {{::imagovideo.opts.loop|json}} {{::imagovideo.opts.preload|json}}
  .imago-video-wrapper
    .spacer(ng-style="imagovideo.spacerStyle")
    videogular(
        vg-auto-play="::imagovideo.opts.autoplay"
        vg-theme="::imagovideo.opts.theme"
        ng-if="imagovideo.ready"
        vg-update-state="imagovideo.state = $state"
        vg-player-ready="imagovideo.onPlayerReady($API)")
      vg-media(
        vg-src="imagovideo.sources"
        vg-loop="::imagovideo.opts.loop"
        vg-preload="::imagovideo.opts.preload")

      vg-controls(
          ng-if="imagovideo.opts.controls"
          vg-autohide="::imagovideo.opts.controlsAutohide"
          vg-autohide-time="::imagovideo.opts.controlsAutohide"
          )
        vg-play-pause-button
        vg-time-display {{ currentTime | date:'mm:ss' }}
        vg-scrub-bar
          vg-scrub-bar-current-time
        vg-time-display {{ timeLeft | date:'mm:ss' }}
        vg-volume
          vg-mute-button
          vg-volume-bar
        vg-fullscreen-button

      vg-overlay-play

      vg-poster(vg-url="::imagovideo.poster")
  //- pre(style="position: absolute; background: red; top: 200px; left: 0; z-index: 1000;") {{imagovideo.opts.align}} {{imagovideo.opts.sizemode}} {{imagovideo.mainSide}} {{imagovideo.opts.controls}}

