.imago-form-container
  form(name="imagoContact" ng-submit="contact.submitForm(imagoContact.$valid)" novalidate ng-if="!contact.status")

    .imago-field
      input(
        type="text"
        name="name"
        id="name"
        ng-model="contact.data.name"
        placeholder="Name"
        )
      label(for="name") Name

    .imago-field
      input(
        type="email"
        name="email"
        id="email"
        ng-model="contact.data.email"
        placeholder="Email"
        required
        )
      label(for="email") Email

    .imago-field
      textarea(
        name="message"
        id="message"
        ng-model="contact.data.message"
        placeholder="Your message."
        required
        )
      label(for="message") Message

    .imago-field
      input(
        type="checkbox"
        name="subscribe"
        id="subscribe"
        ng-model="contact.data.subscribe"
        checked
        )
      label(for="subscribe") Subscribe

    .imago-actions
      button.btn.send(type="submit" ng-disabled="imagoContact.$invalid") Send

  .messages(ng-switch="contact.status")
    .success(ng-switch-when="true")
      span Thank You!

    .error(ng-switch-when="false")
      span Error: {{contact.error}}
